[class*="col-"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-2{
    margin-top: 2rem;
}

.col-6>.row>.col-2,
.col-6>.row>.col-8,
.col-6>.row>.col-6{
    color: palegreen;
    background-color: rgb(15, 88, 88);
    height: 35px;
    border-color: brown;
}

.col-6>.row{
   width: 95%;
}

